# Stuff that the morepork build system creates
/_build*/
/artifacts/

# Stuff that Qt Creator creates
/morepork-ui.pro.user
/CMakeLists.txt.user

# Shadow build stuffs
/build-morepork-ui-artifactory*/

*.qm
