[Unit]
Description=Auto auther

[Service]
Type=simple
ExecStart=/usr/bin/morepork_ui
StandardOutput=null
Restart=always

[Install]
WantedBy=multi-user.target
