[Unit]
Description=Auto auther
StartLimitIntervalSec=10000
StartLimitBurst=2

[Service]
Environment=QT_QPA_EGLFS_INTEGRATION=none
Environment=QT_QPA_EVDEV_TOUCHSCREEN_PARAMETERS="rotate=180" 
Type=simple
ExecStart=/usr/bin/morepork_ui
StandardOutput=null
Restart=on-abort
RestartSec=5

[Install]
WantedBy=multi-user.target
