[Unit]
Description=Qt UI for Sombrero Printers
ConditionPathExists=!/home/use_new_display.blank
ConditionPathExists=!/usr/settings/use_new_display.blank
StartLimitIntervalSec=10000
StartLimitBurst=2

[Service]
Environment=QT_QPA_EGLFS_INTEGRATION=none
Type=simple
ExecStart=/usr/bin/morepork_ui --rotate_display_180
StandardOutput=null
Restart=on-abort
RestartSec=5

[Install]
WantedBy=multi-user.target
